<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Setează Parola Nouă</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://ase.ro/app/themes/ase/public/images/favicon/favicon-32x32.png">
    <link rel="stylesheet" href="static/css/auth_styles.css"/>
</head>
<body>
    <div class="auth-container">
        <form id="password-change-form">
            <h2>Setează Parola Nouă</h2>
            <div class="input-group">
                <input id="code" name="code" type="text" placeholder="Cod de resetare" required/>
            </div>
            <div class="input-group">
                <input id="new-password" name="new-password" type="password" placeholder="Parolă Nouă" required/>
            </div>
            <div class="input-group">
                <input id="confirm-new-password" name="confirm-new-password" type="password" placeholder="Confirmă Parola Nouă" required/>
            </div>
            <div class="input-group">
                <input type="submit" value="Setează Parola Nouă"/>
            </div>
            <p class="auth-message" id="message"></p>
        </form>
    </div>
    <script src="static/js/password_change.js"></script>
</body>
</html>
