<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetare Parolă</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://ase.ro/app/themes/ase/public/images/favicon/favicon-32x32.png">
    <link rel="stylesheet" href="static/css/auth_styles.css">
</head>
<body>
    <div class="auth-container">
        <h2>Resetare Parolă</h2>
        <p>Vă rugăm să introduceți adresa dvs. de email pentru a primi un cod de resetare a parolei.</p>
        <form id="password-reset-form">
            <div class="input-group">
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="input-group">
                <button type="submit">Trimite Codul de Resetare</button>
            </div>
            <p class="auth-message" id="message"></p>
        </form>
        <p class="auth-redirect">
            Ți-ai amintit parola? <a href="/login">Autentificare</a>
        </p>
    </div>
    <script src="static/js/password_reset.js"></script>
</body>
</html>
